/* yellow is #ffe13b */
/* yellow is #e6b321 */

html, body, div, h1, h2, h3, p, ul, ol, form {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 'Work Sans', sans-serif;
  color: #111;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e6b321;
}

h1, h2, .title {
  font-weight: 600;
  line-height: 1;
}

figure {
    margin: 2em 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.gallery-image {
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

.gallery-image figure {
    margin: 0;
}

h2 {
  font-size: 1em;
  margin: 0 0 0.2em;
}

main {
  max-width: 40em;
  padding: 1em;
  background: white;
}

h1 {
font-size: 2em;
  margin-bottom: 0.75em;
  letter-spacing: 1px;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.75em;
  letter-spacing: 0.5px;
}

p, ul {
  margin-bottom: 1em;
  letter-spacing: -0.2px;
}

ul {
  margin-left: 1em;
}

dt {
  font-weight: bold;
}

dd {
    margin-bottom: 1em;
    margin-left: 0;
}

dd ul {
    margin-left: 2em;
}

.logo, .logofont {
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  color: inherit;
  text-decoration: none;
}

h1 .logofont {
  font-weight: 700;
}

p .logofont {
  font-weight: 500;
}

.logo {
  display: inline-block;
  padding: 2px;
  border: 4px solid;
  margin: -4px;
  line-height: 0.8;
  padding-left: 22px;
  margin-left: -26px;
}


@media (min-width: 550px) {
  h1 {
    font-size: 4em;
    line-height: 0.9;
  }
  h2 {
    font-size: 1.2em;
  }
  .logo {
    padding: 5px;
    border: 9px solid;
    margin: -14px;
    padding-left: 40px;
    margin-left: -49px;
  }
  main {
    padding: 2em;
  }
  .table {
    font-size: 2em;
  }
}

img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

figcaption {
    text-align: right;
    background: white;
}

figure img {
  border: 10px solid black;
}

.glow {
  transition: color 5s;
  color: black;
}

.glow:hover {
  transition: color .2s;
  color: rebeccapurple;
}

form, .inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

form {
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

input {
  font: 16px/1 'Work Sans', sans-serif;
  color: #111;
  padding: 0.5em 1em;
  background: none;
  border: 5px solid;
  margin-top: .5em;
}

input:focus {
  outline: none;
  border-color: #e6b321;
}

.button {
  background: #e6b321;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.tiny {
  font-size: .7em;
  color: rebeccapurple;
}

footer {
  font-size: .7em;
  padding: 1em;
}

footer a {
  color: rebeccapurple;
  display: inline-block;
  margin: 0 1em; 
}

.table {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
}

.package {
  text-align: center;
  border: 10px solid;
  padding: 1em 0.5em;
  margin: 0 1em;
  flex-grow: 1;
  flex-basis: 150px;
}

.package h2 {
    margin-top: 0;
}

.package p {
  margin: 0;
  line-height: 1.2;
}

.cap {
  text-transform: uppercase;
}

.disabled {
  cursor: wait;
  opacity: 0.5;
}
